*{
    left:0;
    margin: 0;
}
body{
    background:linear-gradient(45deg, #4158d0, #4158d0, #c850c0, #c850c0, #ffcc70, #ffcc70);
    height: 100vh;
}


.openBtn{
    border-radius: 50px;
    width: 70px;
    height: 30px;
}
.openBtn:hover{
    border-radius: 5px;
}